
/* 
    Created on : 04 Jun 2017, 11:20:17 AM
    Author     : Justus
*/

ul.RedI.plan-thumb {
    
}

li.RedI.plan-thumb {
    list-style-type: none;
    width: 120px;
    height: 100px;
    float: left;    
    text-align: center;
}

a.RedI.plan-thumb {
    
}

img.RedI.plan-thumb {
    max-height: 100px;

    border: none;
    padding: 1px;
    opacity: 0.7;
}

img.RedI.plan-thumb:hover {
    opacity: 1;
}

img.RedI.plan-thumb {
    
}