

/* 
    Created on : 04 Jun 2017, 11:20:17 AM
    Author     : Justus
*/
li.RedI.plan-thumb{list-style-type:none;width:120px;height:100px;float:left;text-align:center}
img.RedI.plan-thumb{max-height:100px;border:0;padding:1px;opacity:.7}
img.RedI.plan-thumb:hover{opacity:1}

img {max-width:100%;}

/* Red-i Property Feed Plugin Styles:
   Created 19 September 2017 by Brendan Proctor from Viewport */


/* jQuery FlexSlider v2.6.3 */
.gallery-contain .flex-container a:hover,.flex-slider a:hover{outline:none}
.gallery-contain .slides,.slides > li,.flex-control-nav,.flex-direction-nav{margin:0;padding:0;list-style:none}
.gallery-contain .flex-pauseplay span{text-transform:capitalize}
.gallery-contain .flexslider{margin:0;padding:0}
.gallery-contain .flexslider .slides > li{display:none;-webkit-backface-visibility:hidden}
.gallery-contain .flexslider .slides img{width:100%;display:block}
.gallery-contain .flexslider .slides:after{content:"\0020";display:block;clear:both;visibility:hidden;line-height:0;height:0}
.gallery-contain html[xmlns] .flexslider .slides{display:block}
.gallery-contain * html .flexslider .slides{height:1%}
.gallery-contain .no-js .flexslider .slides > li:first-child{display:block}

.gallery-contain .flexslider{margin:0; max-height:100vh; overflow-y:hidden; position:relative; display:block; clear:both; z-index:2; zoom:1;}
.gallery-contain .flexslider .slides{zoom:1}
.gallery-contain .flexslider .slides img{height:auto;-moz-user-select:none}
.gallery-contain .flex-viewport{max-height:2000px;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;-ms-transition:all 1s ease;-o-transition:all 1s ease;transition:all 1s ease}
.gallery-contain .loading .flex-viewport{max-height:300px}
.gallery-contain .flexslider .slides li {position:relative; z-index:2;}
.gallery-contain .flexslider .slides li img {position:relative; z-index:2;}
.gallery-contain .flexslider .slides li .copy {position:absolute; width:90%; height:90%; top:0; left:5%; z-index:3; color:white; text-align:left;}
.gallery-contain .flexslider .slides h1 {color:white; font-size:300%; letter-spacing:-1px; font-weight:700; text-shadow: 0 1px 2px rgba(0,0,0,0.5);}
.gallery-contain .flexslider .slides .btn {font-size:110%; margin-top:0.5em;}

.gallery-contain .flex-direction-nav{*height:0}
.gallery-contain .flex-direction-nav a{text-decoration:none;display:block;width:40px;height:40px;margin:-20px 0 0;position:absolute; outline:none; top:50%;z-index:10;overflow:hidden;opacity:0;cursor:pointer;color:rgba(0,0,0,0.8); -webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
.gallery-contain .flex-direction-nav a:before{font-family:'FontAwesome'; font-size:40px;display:inline-block;content:'\f053'; color:white}
.gallery-contain .flex-direction-nav a.flex-next:before{content:'\f054'}
.gallery-contain .flex-direction-nav .flex-prev{left:1em}
.gallery-contain .flex-direction-nav .flex-next{right:1em;text-align:right}
.gallery-contain .flexslider:hover .flex-direction-nav .flex-prev{opacity:.6;}
.gallery-contain .flexslider:hover .flex-direction-nav .flex-prev:hover{opacity:1}
.gallery-contain .flexslider:hover .flex-direction-nav .flex-next{opacity:.6;}
.gallery-contain .flexslider:hover .flex-direction-nav .flex-next:hover{opacity:1}
.gallery-contain .flex-direction-nav .flex-disabled{opacity:0!important;filter:alpha(opacity=0);cursor:default;z-index:-1}

.gallery-contain .flex-control-nav{width:100%; position:absolute; bottom:10px; text-align:center; z-index:4;}
.gallery-contain .flex-control-nav li{margin:0 4px; display:inline-block; zoom:1; *display:inline; }
.gallery-contain .flex-control-paging li a {width:10px; height:10px; float:left; position:relative; background:white; background:rgba(255,255,255,0.4); cursor:pointer; text-indent:-9999px; -webkit-border-radius:20px; border-radius:20px;}
.gallery-contain flex-control-paging li a:hover{background:white}
.gallery-contain .flex-control-paging li a.flex-active{background:white;cursor:default;}

#carousel {padding:1em 3em; position:relative; overflow:hidden; clear:both; }
#carousel li {width:25%; float:left; margin:0 1px 0 0; max-height:80px; overflow-y:hidden;}
#carousel img {width: 120px; display:block; opacity:.7; cursor:pointer;}
#carousel img:hover {opacity:1;}
#carousel .flex-active-slide img {opacity:1; cursor:default; width: 120px; }

#carousel .flex-direction-nav a {width:20px; height:20px; margin:0px 0 0; opacity:0.4;}
#carousel .flex-direction-nav a:hover {opacity:1;}
#carousel .flex-direction-nav a:before{font-size:20px; display:inline-block;color:#333;}

#slider li span.zoom {position:absolute; z-index:100; font-size:35px; line-height:31px; font-weight:bold; border:2px solid white; width:40px; height:40px; top:20px; right:20px; color:white; text-align:center; -webkit-transition:all 0.5s ease; -moz-transition:all 0.5s ease; -ms-transition:all 0.5s ease; -o-transition:all 0.5s ease; transition:all 0.5s ease}
#slider li span.zoom:hover {background:white; color:#333;}

#slider .status {position:absolute; z-index:100; top:0px; left:0px; }
#slider .status span {display:inline-block; font-size:80%; color:white; background:#004a8f; padding:0.5em 0.75em; font-weight:700; text-transform:uppercase;}
#slider .status .residential {background:#004a8f;}
#slider .status .commercial {background:#6e6f71;}	
#slider .status .available {background:#078f00;}
#slider .status .sold {background:red;}

.centerit {position:relative; top:50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);}

#slider { height: 100%; }
#slider ul.slides { height: 100%; display: block; }
#slider ul.slides { display: block; }

@media only screen and (min-width:1241px) {

    #slider li {max-height:600px; overflow-y:hidden;}
    #slider { height: 600px; }
}
@media only screen and (min-width:1025px) and (max-width:1240px) {
    #slider li {max-height:500px; overflow-y:hidden;}
    #slider { height: 500px; }
}
@media only screen and (max-width:768px) {
    .flexslider {height:auto;}
    .flexslider .slides .copy, .flex-control-nav {display:none !important;}
    #slider { height: 500px; }
}
@media only screen and (max-width:480px) {	
    .flexslider .slides li h1 {font-size:125%; font-weight:700;}
    #slider { height: 400px; }
}







/* Search Box */
.search-box {color:#333; background:#f5f5f5; padding:1.5em; margin:1em 0; clear:both; text-align:center;}
.search-box p:last-of-type {display:inline-block; vertical-align:middle; padding:0;}
.sidebar .search-box h6 {display:none;}
.sidebar .search-box {padding-top:0.5em;}
.search-box .type, .search-box .numbers {display:inline-block; vertical-align:middle;}
.search-box .type span, .search-box .numbers span {display:inline-block; vertical-align:middle; width:auto; padding:0.25em 0.5em 0.25em 0}
.property-listings.list .search-box .type span, .property-listings.list .search-box .numbers span, .sidebar .search-box .numbers span, .sidebar .type span {width:49.5%;}
.sidebar .search-box .numbers span:last-of-type {width:auto !important;}
.page-template-default .sidebar .search-box .numbers span:last-of-type {width:49.5% !important;}

/*.search-box .type span:nth-of-type(even), .search-box .numbers span:nth-of-type(even) {text-align:right;}*/
.search-box .numbers span select {display:inline-block; width:100%;}
.search-box .btn {min-width:48%; margin-top:0.5em;}


/* Price Slider */
.slider {float:left; clear:both; width:100%; padding:1em 0 0;}
.noUi-horizontal{margin:1.5em 0;clear:both}
.noUi-target,.noUi-target *{-webkit-touch-callout:none;-webkit-user-select:none;-ms-touch-action:none;-ms-user-select:none;-moz-user-select:none;-moz-box-sizing:border-box;box-sizing:border-box}
.noUi-base{width:100%;height:100%;position:relative;left:0}
.noUi-origin{position:absolute;right:0;top:0;left:0;bottom:0}
.noUi-handle{position:relative;z-index:1}
.noUi-stacking .noUi-handle{z-index:10}
.noUi-stacking + .noUi-origin{*z-index:-1}
.noUi-state-tap .noUi-origin{-webkit-transition:left 0.3s,top .3s;transition:left 0.3s,top .3s}
.noUi-state-drag *{cursor:inherit!important}
.noUi-horizontal{height:8px}
.noUi-horizontal .noUi-handle{width:20px;height:20px;left:-10px;top:-6px}
.noUi-horizontal.noUi-extended{padding:0 10px}
.noUi-horizontal.noUi-extended .noUi-origin{right:-10px}
.noUi-background{background:#fff}
.noUi-connect{background:white}
.noUi-origin{-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px}
.noUi-target{border-top:1px solid #ccc;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px}
.noUi-target.noUi-connect{box-shadow:inset 0 0 3px rgba(51,51,51,0.45),0 3px 6px -5px #ccc}
.noUi-dragable{cursor:w-resize}
.noUi-handle{border:3px solid #fff;-webkit-border-radius:25px;-moz-border-radius:25px;-ms-border-radius:25px;-o-border-radius:25px;border-radius:25px;background:#0094ff;cursor:default;box-shadow:1px 1px 3px rgba(0,0,0,0.75);cursor:pointer}
.noUi-active{box-shadow:1px 1px 1px rgba(0,0,0,0.5)}
[disabled].noUi-connect,[disabled] .noUi-connect{background:#ccc}
[disabled] .noUi-handle{cursor:not-allowed}
.noUi-state-blocked.noUi-connect,.noUi-state-blocked .noUi-connect{background:#0094ff}
.MinPrice{float:left}
.MaxPrice{float:right}
.min,.max{float:left;}
.max{float:right}


@media only screen and (max-width:1024px) {
    .search-box {display:inline-block; vertical-align:top; width:47%; margin:1em 2.5% 1em 0;}
}
@media only screen and (max-width:640px) {
    .search-box {display:block; width:auto; margin:1em 0;}	
}







/* Property Listings */
.property-listings { display:block; vertical-align:top; text-align:center;}
.featured-properties { display:inline-block; width:73%; vertical-align:top;}

.property { display:inline-block; width:47%; margin:1em 2.5% 1em 0; vertical-align:top; position:relative; z-index:1;}
.property .image {}
.property .image img {z-index:1;}
.property .image a {position:relative; z-index:1; display:block;}
.property .image a:before {display:inline-block; content:'\f067'; font-size:200%; line-height:250px; text-align:center; color:white; position:absolute; z-index:3; top:0px; left:0px; background:rgba(0,74,143,0.5); width:100%; height:100%; opacity:0; font-family:'FontAwesome'; cursor:pointer;}
.property .image a:hover:before {opacity:1;}
.property .image span.type {position:absolute; z-index:3; display:inline-block; font-size:80%; color:white; background:#004a8f; padding:0.5em; font-weight:700; text-transform:uppercase;}
.property .image span.commercial {background:#6e6f71;}	
.property h3 {padding-bottom:0; clear:both;}
.property p {font-size:90%; line-height:140%; padding:0.5em 0;}
.property .features {display:block; padding:0.5em 0;}
.property .features span {font-size:90%; display:inline-block; min-width:25%;}
.property .features span i {margin-right:5px; font-size:110%;}

/* Search Box */		
.property-listings .search-box {margin:0 1% 0.5em; padding:1em 1em 0.5em; display:block;}
.property-listings.list .search-box {margin:0 0 0.5em;}	
.property-listings .search-box .price-range,
.property-listings .search-box .type,
.property-listings .search-box .options,
.property-listings .search-box .type span, 
.property-listings .search-box .options span,
property-listings .search-box .btn {float:none; display:inline-block; width:auto; vertical-align:middle; clear:none; padding:0 20px; margin:0;}
.property-listings .search-box .slider { vertical-align:middle;}
.property-listings .search-box .options span {padding:2px;}
.property-listings .search-box .type span {padding:0 10px;}
.property-listings .search-box .slider {float:none; width:200px !important; display:inline-block !important; margin:0 1.5em 0 0.5em;}
.property-listings.list .search-box .slider {float:none; width:92% !important;  margin:0 4%;}
.property-listings select {min-width:120px; height:32px; line-height:32px; color: #888;}
.property-listings .search-box .btn {min-width:10px;}


/* Results */
.property-listings .results {display:block; text-align:center; padding:0 1% 1em; margin-top:-1em;}
.property-listings .results .showing, .property-listings .results .orderby, .display {display:inline-block; vertical-align:middle; width:33%;}
.property-listings .results .orderby {text-align:left;}
.property-listings .display {text-align:right;}
.results .orderby span, .results .orderby select {display:inline-block; vertical-align:middle;}		

/* Display Buttons */	
.display a {border:1px solid #666; background:transparent; text-decoration:none; display:inline-block; color:#333; padding:0.75em !important; margin:0 2px !important;}
.display a:hover {background:#004a8f; border-color:#004a8f; color:white;}
.display a.current, .pagination a.current:hover {border-color:#f5f5f5; background:#f5f5f5; color:#666;}

.property-listings .property {width:31%; margin:1em 1%; text-align:left;}
.property-listings small {display:block;}

@media only screen and (min-width:1025px) and (max-width:1240px) {
    .property-listings .search-box .price-range,
    .property-listings .search-box .type,
    .property-listings .search-box .options,
    .property-listings .search-box .type span, 
    .property-listings .search-box .options span,
    .property-listings .search-box .btn {padding:0 10px}
    .property-listings .search-box .options span {padding:0 2px;}
}
@media only screen and (max-width:1024px) {
    .property-listings .search-box {display:block; width:auto; padding:0.5em 0.5em 1em;}
    .property-listings .search-box h6 {display:none;}		
    .featured-properties {display:block; width:auto; text-align:center;}
    .property {text-align:left;}	
}
@media only screen and (max-width:768px) {	
    .property .image a:before {line-height:180px;}
    .property-listings .search-box .btn {margin-top:1em;}
    .property-listings .property {width:47.25%; margin:1em 1%;}
    .property-listings .results {margin:0;}
    .property-listings .results .showing, .property-listings .results .orderby, .display {width:32%;}
}
@media only screen and (max-width:540px) {	
    .property { display:block; width:auto; margin:1em auto; max-width:450px;}	
    .property .image a:before {line-height:250px;}
    .property-listings .property {width:auto; margin:1em 0; display:block;}
    .property-listings .results .showing, .property-listings .results .orderby span, .display {display:none;}
    .property-listings .results .orderby {width:auto;}
}

/* List Display */
@media only screen and (min-width:769px) {	
    .property-listings.list .search-box {float:right; width:30%;}
    .property-listings.list .property {float:left; width:67%; margin:0 0 1.5em 0; padding:0; text-align:left; clear:left; border:1px solid #e5e5e5; -webkit-box-shadow:0 1px 3px 0 rgba(0,0,0,0.1); box-shadow:0 1px 3px 0 rgba(0,0,0,0.1);}
    .property-listings.list .property .image {float:left; width:40%; margin-bottom:-1px;}
    .property-listings.list .property .copy {float:left; width:60%;}
    .property-listings.list .property .image {float:left;}
    .property-listings.list .property .copy {padding:1em 2em;}
    .property-listings.list .search-box .options span {padding:0.5em 0.25em}
    .property-listings.list .search-box .btn {margin:1em 0;}
}






/* Property Detail Page */
.property-info {display:block; clear:both;}
.property-info .wrapper {padding:0;}
.gallery-contain {width:calc(100% - 3px);}
.property-info .agent {background:#e6eff7; padding:2em; display:block;}
.property-info h6 { color:#333;}
.sidebar select {width:100%; color:#333;}
.sidebar input[type=checkbox] {display:inline-block !important; width:auto !important; margin:0 0 10px 10px !important;}
.property-info .agent #phonenumber, .property-info .agent #emailaddress {display:block; color:#004a8f; background:white; padding:0.75em; -webkit-border-radius:2px; border-radius:2px;}
.property-info .agent #phonenumber {margin:10px 0;}
.property-info .agent span {cursor:pointer;}
.property-info .agent i {margin-right:5px;}

.property-info .email-form {background:#004a8f; color:white; padding:2em; display:block; }
.property-info .email-form h6 {color:white;}
.property-info .email-form input, .property-info .email-form textarea {background:white; border:0; display:block; width:100%; margin:10px 0;  box-shadow:inset 0 3px 0 rgba(0,0,0,0.07); -webkit-border-radius:2px; border-radius:2px;}
.property-info .email-form input[type=submit] {background:#0094ff; width:auto; margin-bottom:0;}
.property-info .email-form form div{display:block; padding:4px 0;}
	.property-info .email-form form div label {display:inline-block; width:80%; vertical-align:top;}
.property-info .email-form form div input[type=checkbox] {margin:0 10px 0 0 !important; display:inline-block; vertical-align:top;}

.property-info .features {display:block; padding:0.25em 0; margin:0 0 1em; font-size:100%; border-top:1px solid #eee; border-bottom:1px solid #eee;}
.property-info .features span {display:inline-block; min-width:19%; padding:1em; text-align:center;}
.property-info .features span i {margin-right:10px; font-size:115%; color:#ccc;}

.property-info .description, .property-info .plans {display:inline-block; vertical-align:top; width:60%; padding:1em 2em; margin-right:-5px;}
.property-info .show-times {display:inline-block; vertical-align:top; width:40%; padding:1em 2em; margin-right:-5px;}
.property-info .show-times dl {display:block;}
.property-info .show-times dl:first-of-type {margin-top:0.25em;}
.property-info .show-times dt, .property-info .show-times dd {display:inline-block; vertical-align:top; width:50%; margin-right:-5px; padding:0.25em 0 0; line-height:150%;}
.property-info .view-map {padding:2em 0;}
.property-info .view-map a.btn {padding:1.25em 2em !important;}
.property-info .view-map i {color:#4daaed; font-size:125%; margin:0 5px 0 0 ;}

@media screen and (max-width:768px) {
    .property-info .description, .property-info .plans, .property-info .show-times {display:block; width:auto; padding:1em; margin-right:0px;}
    .property-info .features {font-size:100%;}
    .property-info .features span {padding:0.5em; font-size:90%;}
    .property-info .features span i {margin-right:5px; font-size:100%;}	
    .property-info .agent, .property-info .email-form {padding:1em;}
}	

/* Breadcrumbs */
.breadcrumbs {font-size:85%; padding:1em 2em; border:1px solid #eee;}
.breadcrumbs .fa {color:#aaa;}
.breadcrumbs a {color:#666; padding:3px;}
.breadcrumbs a:hover {color:#e6eff7;}

/* Pagination */	
.pagination {text-align:center; display:block; clear:both; padding:3em 1em; float:left; width:100%; }
.pagination a {border:1px solid #666; background:transparent; text-decoration:none; display:inline-block; color:#333; padding:0.5em 0.75em !important; margin:0 2px !important;}
.pagination a:hover {background:#004a8f; border-color:#004a8f; color:white;}
.pagination a.current, .pagination a.current:hover {border-color:#f5f5f5; background:#f5f5f5; color:#666;}
.pagination a i {margin:0;}
.pagination a.prev {float:left; margin:0;}
.pagination a.next {float:right; margin:0;}
.pagination a.disabled, .pagination a.disabled:hover {cursor:default; background:white; border-color:#ccc; color:#ccc;}

@media screen and (max-width:768px) {
    .pagination {padding:2em 0;}
    .pagination a, .pagination a.outline {padding:0.5em !important; line-height:100%; font-weight:normal; margin:1px;}	
    .pagination a.prev:before, .pagination a.next:after {display:none;}
}	







.mfp-bg{top:0;left:0;width:100%;height:100%;z-index:11042;overflow:hidden;position:fixed;background:#0b0b0b;opacity:.8}
.mfp-wrap{top:0;left:0;width:100%;height:100%;z-index:11043;position:fixed;outline:none!important;-webkit-backface-visibility:hidden}
.mfp-container{text-align:center;position:absolute;width:100%;height:100%;left:0;top:0;padding:0 8px;box-sizing:border-box}
.mfp-container:before{content:'';display:inline-block;height:100%;vertical-align:middle}
.mfp-align-top .mfp-container:before{display:none}
.mfp-content{position:relative;display:inline-block;vertical-align:middle;margin:0 auto;text-align:left;z-index:1045}
.mfp-inline-holder .mfp-content,.mfp-ajax-holder .mfp-content{width:100%;cursor:auto}
.mfp-ajax-cur{cursor:progress}
.mfp-zoom-out-cur,.mfp-zoom-out-cur .mfp-image-holder .mfp-close{cursor:-moz-zoom-out;cursor:-webkit-zoom-out;cursor:zoom-out}
.mfp-zoom{cursor:pointer;cursor:-webkit-zoom-in;cursor:-moz-zoom-in;cursor:zoom-in}
.mfp-auto-cursor .mfp-content{cursor:auto}
.mfp-close,.mfp-arrow,.mfp-preloader,.mfp-counter{-webkit-user-select:none;-moz-user-select:none;user-select:none}
.mfp-loading.mfp-figure{display:none}
.mfp-hide{display:none!important}
.mfp-preloader{color:#CCC;position:absolute;top:50%;width:auto;text-align:center;margin-top:-.8em;left:8px;right:8px;z-index:11044}
.mfp-preloader a{color:#CCC}
.mfp-preloader a:hover{color:#FFF}
.mfp-s-ready .mfp-preloader{display:none}
.mfp-s-error .mfp-content{display:none}
button.mfp-close,button.mfp-arrow{overflow:visible;cursor:pointer;background:transparent;border:0;-webkit-appearance:none;display:block;outline:none;padding:0;z-index:1046;box-shadow:none;touch-action:manipulation}
button::-moz-focus-inner{padding:0;border:0}
.mfp-close{width:44px;height:44px;line-height:44px;position:absolute;right:0;top:0;text-decoration:none;text-align:center;opacity:.65;padding:0 0 18px 10px;color:#FFF;font-style:normal;font-size:28px;font-family:Arial,Baskerville,monospace}
.mfp-close:hover,.mfp-close:focus{opacity:1}
.mfp-close:active{top:1px}
.mfp-close-btn-in .mfp-close{color:#333}
.mfp-image-holder .mfp-close,.mfp-iframe-holder .mfp-close{color:#FFF;right:-6px;text-align:right;padding-right:6px;width:100%}
.mfp-counter{position:absolute;top:0;right:0;color:#CCC;font-size:12px;line-height:18px;white-space:nowrap}
.mfp-arrow{position:absolute;opacity:.65;margin:0;top:50%;margin-top:-55px;padding:0;width:90px;height:110px;-webkit-tap-highlight-color:transparent}
.mfp-arrow:active{margin-top:-54px}
.mfp-arrow:hover,.mfp-arrow:focus{opacity:1}
.mfp-arrow:before,.mfp-arrow:after{content:'';display:block;width:0;height:0;position:absolute;left:0;top:0;margin-top:35px;margin-left:35px;border:medium inset transparent}
.mfp-arrow:after{border-top-width:13px;border-bottom-width:13px;top:8px}
.mfp-arrow:before{border-top-width:21px;border-bottom-width:21px;opacity:.7}
.mfp-arrow-left{left:0}
.mfp-arrow-left:after{border-right:17px solid #FFF;margin-left:31px}
.mfp-arrow-left:before{margin-left:25px;border-right:27px solid #3F3F3F}
.mfp-arrow-right{right:0}
.mfp-arrow-right:after{border-left:17px solid #FFF;margin-left:39px}
.mfp-arrow-right:before{border-left:27px solid #3F3F3F}
.mfp-iframe-holder{padding-top:40px;padding-bottom:40px}
.mfp-iframe-holder .mfp-content{line-height:0;width:100%;max-width:900px}
.mfp-iframe-holder .mfp-close{top:-40px}
.mfp-iframe-scaler{width:100%;height:0;overflow:hidden;padding-top:56.25%}
.mfp-iframe-scaler iframe{position:absolute;display:block;top:0;left:0;width:100%;height:100%;box-shadow:0 0 8px rgba(0,0,0,0.6);background:#000}
img.mfp-img{width:auto;max-width:100%;height:auto;display:block;line-height:0;box-sizing:border-box;padding:40px 0;margin:0 auto}
.mfp-figure{line-height:0}
.mfp-figure:after{content:'';position:absolute;left:0;top:40px;bottom:40px;display:block;right:0;width:auto;height:auto;z-index:-1;box-shadow:0 0 8px rgba(0,0,0,0.6);background:#444}
.mfp-figure small{color:#BDBDBD;display:block;font-size:12px;line-height:14px}
.mfp-figure figure{margin:0}
.mfp-bottom-bar{margin-top:-36px;position:absolute;top:100%;left:0;width:100%;cursor:auto}
.mfp-title{text-align:left;line-height:18px;color:#F3F3F3;word-wrap:break-word;padding-right:36px}
.mfp-image-holder .mfp-content{max-width:100%}
.mfp-gallery .mfp-image-holder .mfp-figure{cursor:pointer}

@media screen and (max-width: 800px) and (orientation: landscape),screen and (max-height: 300px) {
    .mfp-img-mobile .mfp-image-holder{padding-left:0;padding-right:0}
    .mfp-img-mobile img.mfp-img{padding:0}
    .mfp-img-mobile .mfp-figure:after{top:0;bottom:0}
    .mfp-img-mobile .mfp-figure small{display:inline;margin-left:5px}
    .mfp-img-mobile .mfp-bottom-bar{background:rgba(0,0,0,0.6);bottom:0;margin:0;top:auto;padding:3px 5px;position:fixed;box-sizing:border-box}
    .mfp-img-mobile .mfp-bottom-bar:empty{padding:0}
    .mfp-img-mobile .mfp-counter{right:5px;top:3px}
    .mfp-img-mobile .mfp-close{top:0;right:0;width:35px;height:35px;line-height:35px;background:rgba(0,0,0,0.6);position:fixed;text-align:center;padding:0}
}

@media all and (max-width: 900px) {
    .mfp-arrow{-webkit-transform:scale(0.75);transform:scale(0.75)}
    .mfp-arrow-left{-webkit-transform-origin:0;transform-origin:0}
    .mfp-arrow-right{-webkit-transform-origin:100%;transform-origin:100%}
    .mfp-container{padding-left:6px;padding-right:6px}
}

.banner select#plan-select {width:100%; margin:0 0 10px;}
.banner h2 br {display:none;}
.banner h2 span.price {width:auto; display:block; font-size:100%; line-height:100%; padding:5px 0;}
.banner span.price span {font-size:13px; line-height:13px; padding:0 3px 0 0; color:#777;}
.banner span.price span.planPriceValue,
.banner span.price span.plotPriceValue,
.banner span.price span.totalPriceValue {font-size:30px; line-height:30px; padding:0; color:#004a8f;}


div.property div.image {    
    max-height: 280px;
    overflow: hidden;
}

/* Generic Template */
.main-content {display:block; clear:both; padding:2em 0;}
.wrapper {width:auto; max-width:1400px; padding:0 1.5em; margin:0 auto;}
.copy {width:73%; display:inline-block; vertical-align:top; margin-right:-5px;  text-align:left;}	
.sidebar {width:27%; display:inline-block; vertical-align:top; margin-right:-5px;}	
.copy.nosidebar {width:auto; display:block; padding-right:0; margin-right:0; max-width:1000px; margin:0 auto; text-align:center;}

@media only screen and (min-width:1025px) {
    .main-content {min-height:250px;}
}
@media only screen and (max-width:1024px) {
    .sidebar, .copy {width:auto; display:block; padding:1em 0; margin:0; }
}
@media only screen and (max-width:768px) {
    .main-content {padding:1em 0;}
    .copy, .sidebar {width:auto; display:block; padding-right:0; margin-right:0; }
    .wrapper {padding:0 1em;}
}

/* Banner */		
.banner {display:block; clear:both; position:relative; z-index:1; padding:3em 0 1em; text-align:center;}	
.banner .title, .banner .price { display:inline-block; vertical-align:middle; width:50%; padding:0; margin-right:-5px; position:relative; z-index:3;}
.banner .title {width:74%; text-align:left;}
.banner .price {width:26%;}
.banner h1 {padding:0;}
.banner .title h1 {padding:0 2em 0 0;}
.banner p {padding:0.25em 0 0;}
.banner .price h2 {padding:0; color:#004a8f;}
.banner small {display:block; color:#aaa; padding:1em 0 0;}

@media screen and (max-width:768px) {
    .banner {padding:0.5em 0;}	
    .banner .title, .banner .price { display:block; padding:0.5em 0; width:auto; margin-right:0px; text-align:left;}	
}


/* Omissions from plugin - to deploy */
 a#search-btn {
 font-family: 'Lato', sans-serif;
    border: 0;
    cursor: pointer;
    outline: none;
    text-indent: 0;
    text-decoration: none;
    padding: 1em 1.5em !important;
    line-height: 100%;
/*    background: rgba(25, 60, 97, .95);*/
    text-transform: uppercase;
    color: white;
    display: inline-block;
    text-align: center;
    font-size: 85%;
    letter-spacing: 0.04em;
    font-weight: 700;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}   
.share-page {display: block; padding: 2em;}
.property .features span { padding-right: 5px;}
.property-info .email-form input, .property-info .email-form textarea, .property-info .email-form select {padding: 0.75em 0; text-indent: 1em; color: #333; font-size: 100%;}    
.property-info .email-form input[type=submit] {line-height: 100%; padding: 1em 1.5em !important;background-color:#FFF;text-indent: 0px;} 
.property-info .email-form form div input[type=checkbox] {vertical-align: middle;}
select#agents {margin-bottom: 10px;}


/* Instance specific changes */

.property-listings select {
    background-color: rgb(248, 248, 248);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(166, 166, 166);}
.property-info select {
    background-color: rgb(248, 248, 248);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(166, 166, 166);
}
h6 {
    font-size: 1em;
}
.banner .title, .banner .price {
    vertical-align: bottom;
}
.property-listings.list .pagination {
    font-size: 12px !important;
}
.property-info .pagination {
    font-size: 12px !important;
}
.pagination a:hover {
    background: rgba(216,178,106, .95);
    border-color: rgba(216,178,106, .95);
    color: white;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #3336;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #3336;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #3336;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #3336;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #3336;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #3336;
}
.gallery-contain .flex-direction-nav a {padding-top: 6px;}
#carousel .flex-direction-nav a {padding-top: 0px; height: 28px;}
.property-info .agent {background: rgba(0,0,0,0.05);}
.property-info .agent #phonenumber, .property-info .agent #emailaddress {color: rgba(0,0,0,0.8);}
.property .image a:before {background:rgba(216,178,106,0.5); }
.property-listings.list .search-box .slider {overflow: visible;}
 a#search-btn {background: rgba(216,178,106, .95);}  
.banner .price h2 {font-size: 32px; color: rgba(216,178,106, .95);}  
.banner .title h1 {font-size: 32px; line-height: 32px; color: rgba(0,0,0,0.8);}
.spacer {padding-top: 0px;}
@media only screen and (max-width: 1024px) {.spacer {padding-top: 60px;}}
.property-info .email-form {background: rgba(0,0,0,0.8);}
.property-info .email-form form div label {color: #FFF;}
.property h3 a {color: rgba(0,0,0,0.8); font-size: 24px;}
.search-box p:last-of-type {float: none;}
.property-info .view-map a.btn {background: rgba(216,178,106, .95);color:#FFF;}
.property-info .view-map i {color:#FFF;}
.property-info h6 {float: none;}
.property p {float: none;}
@media only screen and (min-width: 769px) {.property-listings.list .search-box .btn { margin: 1em 0;}}
.property .image span.type {line-height: 14px;background: rgba(216,178,106, .95);}
#slider .status span {line-height: 14px; background: rgba(216,178,106, .95);}
.breadcrumbs {padding: 2em 2em;}
.breadcrumbs p {margin-top: -1em;} 
.display a:hover {background: rgba(216,178,106, .95); border-color: #004a8f; color: white;}
.property-info .flex-control-nav{    
    position: unset;
    bottom: unset;
    left: unset;
    padding: unset;
    margin: unset;
    min-width: unset;
    height: unset;
    background: unset;
    overflow: unset;
    z-index: unset
    -webkit-border-radius: unset;
    -moz-border-radius: unset;
    border-radius: unset;
    text-align: unset
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
select {
    -webkit-appearance: select;
    -moz-appearance: select;
    appearance: select;
}}
@media only screen and (min-width: 1024px) {
.property-info .sidebar {
    width: 27% !important;
    display: inline-block !important;
    vertical-align: top !important;
    margin-right: -5px !important;
    padding: 0px!important;
    }

    .copy {width:73%;}

}
@media only screen and (max-width: 1024px) {
.sidebar, .copy {
    width: 100% !important;
    display: block !important;
    padding: 1em 0 !important;
    margin: 0 !important;
}}

body {
    overflow-x: hidden;
}

.noUi-base {
    left: 100%;
}

.noUi-origins, .noUi-handle {
    z-index: 15 !important;
}

.search-box-inner {
    overflow-x: hidden;
    padding: 2px;
    margin: 0px;
    position: relative;
    display: block;
}