/* Instance specific changes */
/* Westbrook */


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {

    --grey-text-colour: #757575;
    --Icon-grey: #9e9e9e;
    --artboard-grey-background: #f7f7f7;
    --primary: #000000;
    --secondary: #ffffff;
    --light-grey-background: #f5f5f5;

}

span.red-i .properties-single .sidebar div.checkbox label:after, 
span.red-i .properties-single .sidebar div label[for^="chkbox"]:after
span.red-i div:after,
span.red-i .results:after,
span.red-i .property:after,
span.red-i .property .image:after,
span.red-i .property .copy:after {

    content: "";
    display: block;
    clear: both;
    height: 0px;
    visibility: hidden;

}

/* .main-wrap header.main-header-section{
    background: black;
} */

.find-future-wrap .search-box .slider{
    width: 100% !important;
    margin: 0 !important;
}

span.red-i i[class*="fa"] {

    display: none;
}

main.main-wrap {

    padding-top: 100px;
}

.slider .min,
.slider .max {
    font-family: 'Poppins', sans-serif;
}

span.red-i .property-listings .property{

    /* padding-left: 20px; */
}

/*span.red-i .property-listings .md-container {
    
    max-width: 100% !important;
}*/

.property-info .features {

    /* display: unset; */
    padding: unset;
    margin: unset;
    font-size: unset;
    border-top: unset;
    border-bottom: unset;
}

.property-info .features span {

    display: unset;
    min-width: unset;
    padding: none !important;
    text-align: unset;
}

.pagination {
    text-align: unset;
    display: block;
    clear: unset;
    padding: unset;
    float: none;
    width: 100%;
}

.find-future-wrap .search-box p:last-of-type{
    float: right;
    margin-top: 20px;
}

.find-future-wrap .search-box .type, .search-box .numbers{
    display: flex !important;
    flex-wrap: wrap;
    float: left;
    margin-top: 20px;
}
 
.find-future-wrap .search-box .numbers span {
    padding: 0.25em 3vw 0.25em 0;
    font-weight: 200;
}



.find-future-wrap .noUi-handle:before{
    top: 10px;
    height: 11px;
    left: 7px;
    width: 2.9px;
    border-right: 1px var(--Icon-grey) solid;
    border-left: 1px solid var(--Icon-grey);
    background-color: white;

}

.find-future-wrap .noUi-handle:after{
    left: 14.5px;
    height: 11px;
    top: 10px;
    background-color: var(--Icon-grey);
}


/* .find-future-wrap .slider .min{

}

.find-future-wrap .slider .max{
    
} */

.find-future-wrap .noUi-horizontal .noUi-handle{
    width: 25px;
    top: -9px;
    height: 35px;
    border-radius:5px;
    box-shadow: none;
}

.find-future-wrap .noUi-horizontal .noUi-handle:focus{
    outline: none;
}

.find-future-wrap{
    padding: 30px 30px 30px 30px;
}

.find-future-wrap #price-slider{
    margin: 16px 16px 20px 8px;
}

span.red-i div.features > span {

    display: inline-block;
    text-align: center;
    /* font-size: 14px; */
}

span.red-i span.properties-list,
span.red-i span.properties-tiles {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    /* display: inline-block; */
}

span.red-i span.properties-tiles{
    justify-content: unset;
}

span.red-i div.features i.fa {
    /* opacity: 0.2; */
    display: inline-block;
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    float: left;
    /* margin-right: 6px;
    padding-top: 40px; */
}

span.red-i .properties-single div.features i.fa{
    margin-right: 6px;
}


#slider li span.zoom{
    display: none;
}

.gallery-contain #slider{
    height: 450px;
    margin-bottom: 10px;
}

.red-i div#carousel.flexslider{
    padding: 0 3em;
}


span.red-i div.features i.fa.fa-bed {
    background-color: var(--Icon-grey);
    -webkit-mask: url('westbrook/svg/beds.svg')  no-repeat 50% 50%;
    -webkit-mask-size: 35px;
}

span.red-i div.features i.fa.fa-bath {
    background-color: var(--Icon-grey);
    -webkit-mask: url('westbrook/svg/baths.svg') no-repeat 50% 50%;
    -webkit-mask-size: 35px;
}

span.red-i div.features i.fa.fa-car {
    background-color: var(--Icon-grey);
    -webkit-mask: url('westbrook/svg/garages.svg') no-repeat 50% 50%;
    -webkit-mask-size: 35px;
}

span.red-i span.properties-tiles div.features i.fa.fa-car{
position: relative;
    top: 5px;
}

span.red-i div.features i.fa.fa-arrows-alt {
    background-color: var(--Icon-grey);
    position: relative;
    top: 5px;
    -webkit-mask: url('westbrook/svg/area-amount.svg') no-repeat 50% 50%;
    -webkit-mask-size: 35px;
}

span.red-i div.features i.fa.fa-arrows-alt + span {
    position: initial;
}

.find-future-wrap h3 {

    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: 2px;
    text-align: center;
    color: var(--grey-text-colour);
    text-transform: uppercase;
}

.find-future-wrap #development {
    width: 14vw;
    color: #111112;
    font-weight: 600;

}

.find-future-wrap span.red-i .search-box select{
    border-bottom: 1px solid var(--grey-text-colour);
}

span.red-i div.features > span {
    min-width: 40px;
    line-height: 40px;
    text-align: center;
}

span.red-i div.features > span > span {
    float: right;
    display: inline-block;
    position: relative;
    top: -5px;
    height: 30px;
    min-width: 0px;
    margin-right: 24px;
} 
 
span.properties-tiles i.fa.fa-car + span{
    margin-right: 0px;
    position: relative;
    top:0px;
    
}



/* span.red-i div.features > span > span:last-of-type {
    margin-right:0;
} */

/* properties-list */

span.red-i span.properties-list div.features > span > span{
    margin-right: 30px;
}

span.red-i div.features span.feature span{
    font-size: 14px;
    text-transform: uppercase;
}


span.red-i .search-box {
    display: flex;
    color: unset;
    background: unset;
    padding: unset;
    margin: unset;
    clear: unset;
    text-align: unset;
}

span.red-i .search-box-inner {
 width:100%
}



span.red-i .search-box-inner a#search-btn {
    border-radius: unset;
    width: 250px;
    height: auto !important;
    background-color: var(--primary);
    background-repeat: no-repeat;
    background-position: right 84px center;
}

span.red-i .search-box-inner a#search-btn:hover {
    background-position: right 63px center;
    padding-right: 26px !important;
    background-image: url(westbrook/svg/arrow-right-white.svg);
}

#price-slider {

    height: 2px;
    margin-top: 50px !important;
}

#price-slider .noUi-connect,
#price-slider .noUi-connects {
    position: unset;
    background-color: black;    
}

#price-slider div.noUi-connect{
    position: absolute;
    height: 2px;
    margin-top: -1px;
}

#price-slider .noUi-origin {

    margin-top: -8px;
    cursor: pointer;
}

span.red-i .search-box select {

    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;    
}

/*span.red-i .search-box select:after {
    
  content: '>';
  font: 17px "Consolas", monospace;
  color: #333;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 11px;
  Adjust for position however you want
  
  top: 18px;
  padding: 0 0 2px;
  border-bottom: 1px solid #999;
  left line 
  
  position: absolute;
  pointer-events: none;
}*/

span.red-i .slider .min,
span.red-i .slider .max {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    color: #111112;
}

span.red-i .slider .min:before,
span.red-i .slider .max:before {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: var(--grey-text-colour);
}

span.red-i .slider .min:before {
    content: "Min Price ";
}

span.red-i .slider .max:before {
    content: "Max Price ";
}

span.red-i .results {
    width: 100%;
    position: relative;
    clear: both;
    display: flex;
    margin-top: 20px;
    margin-bottom: 64px;
    font-weight: 600;
    top: 30px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}


span.red-i .results .showing  {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.79;
    letter-spacing: 2px;
    color: var(--grey-text-colour);
    text-transform: uppercase;
    float: left;
}

span.red-i .results .results-left strong {
    color: var(--primary);
}

span.red-i .results > div {
    text-align: left;
}

span.red-i .results {
    color: var(--grey-text-colour);
}

span.red-i .results .results-left {
    width: 40%;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

span.red-i .results .results-right {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

span.red-i .results .results-right display {
    display: inline-block;
}

span.red-i .results .results-view-grid {
    width: 22px;
    height: 18px;
    background-color: var(--Icon-grey);  
}


span.red-i .results .results-view-list {
    width: 22px;
    height: 18px;
    background-color: var(--Icon-grey);  
}



span.red-i .results .display a {
    padding-right: 0px;
    border: none;
    color: var(--Icon-grey); 
}

span.red-i .results .display a.current {
    color: black;
    opacity: 1;
}

span.red-i .results .display a:hover {
    color: #000000;
    background-color: transparent;
}

span.red-i .properties-tiles .property .button {
    width: 100%;
}

span.red-i .results .display i.fa {
    border: none;
    opacity: 0.5;
    display: inline-block;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    float: left;
}

span.red-i .results .display i.fa.fa-reorder {

    background-image: url('westbrook/svg/list.svg');
}

span.red-i .results .display a.current i.fa.fa-reorder {
    background-image: url('westbrook/svg/list-black.svg');
    opacity: 1;
    margin-top: 1px;
}

span.red-i .results .display a.list:after {
    content: "List";
    margin-left: 10px;
    text-transform: capitalize;
}

span.red-i .results .display i.fa.fa-th {
    background-image: url('westbrook/svg/grid.svg');
    margin-top: 1px;
}

span.red-i .results .display a.current i.fa.fa-th {

    background-image: url('westbrook/svg/grid-black.svg');
    opacity: 1;
}

span.red-i .results .display a.tiles:after {
    content: "Grid";
    margin-left: 10px;
    text-transform: capitalize;
}


/* span.red-i .results .display a:after{
    position: relative;
    top: -1px;
} */


span.red-i .results .display i.fa.fa-map-marker {

    display: none;
}

.display a {

    padding: 0px 0px 0px 0px;
    margin: 0px 10px 0px 10px;
}

.display,
.property-listings .results .showing, 
.property-listings .results .orderby {

    display: inline-block;
    width: auto !important;
}

.orderby select {

    border-top: none;
    border-left: none;
    border-right: none;
    /* border-bottom: 1px solid var(--Icon-grey); */
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
 

 span.red-i .numbers select {
    font-size: 16px;
    text-transform: capitalize;
    color: var(--grey-text-colour); 
    border-bottom: solid 1px var(--grey-text-colour);
}

span.red-i .numbers select:focus{
    border-bottom: solid 1px black;
}


span.red-i .search-box .numbers span select{
    height: 37px;
}

/* Properties */


span.red-i .property {

    /*  width: 996px; */
    /*  height: 335px;*/
    box-shadow: 0 1px 5px 0 rgba(17, 17, 18, 0.1);
    /*  background-color: var(--secondary);*/
    background-color: rgba(17, 17, 18, 0.1);
}

span.red-i .property-listings .property {


}

span.red-i .property-listings .property {


}

span.red-i .property {
    box-shadow: 0 1px 5px 0 rgba(17, 17, 18, 0.1);
    background-color: var(--secondary);
    clear: both;
    margin-top: 7px;
    margin-bottom: 20px;
}

span.red-i .properties-tiles .property {
    margin: 1em 1.14%;
    /* width: 30%; */
}

span.red-i .properties-list .property {

    width: 100%;
}

span.red-i div.features {

    display: inline-block;
    white-space: nowrap;
    clear: both;

}

span.red-i div.features span {

    padding: 0px;
}

span.red-i .property .copy {
    padding: 20px;  
    display: inline-block;
}

span.red-i .properties-list .image {

    float: left;
}


span.red-i .properties-list .property .image {
    width: 100%;
    max-width: 400px;
    height: 100%;
    /*    max-height: 335px;    */
    float: left;
}

span.red-i .properties-list .property .image a{
    width: 100%;
    height: 100%
}

span.red-i .properties-list .property .image img{
    height: 335px;
}

span.red-i .sidebar .email-form input[type=submit]:hover{
    background-position: right 84px center;
    padding-right: 26px !important;
    background-image: url(westbrook/svg/arrow-right-white.svg);
}


span.red-i .properties-tiles .property .image {
    width: 100%;
    max-height: 175px;
}

span.red-i .properties-list .property .copy {
    padding-left: 40px;
    width: calc(100% - 400px);
    padding-bottom: 30px;
}

span.red-i .properties-list .property .copy .feature{
margin-right:20px;
}

span.red-i .properties-tiles .property .copy {

    width: 100%;

}

span.red-i .properties-tiles .property-title .development-title {
    
    float: left;
}

span.red-i .properties-tiles .property-title .title-divider {
    top:0px;
}

span.red-i .properties-tiles .property-title .phase-title {
    position: relative;
    top: -6px;
}

span.red-i .property .copy > div {
    padding-top:10px;
}

span.red-i .properties-tiles .property .copy > div{
    padding-top:0px;
}

span.red-i .property .copy .property-title{
    padding: 0;
}

span.red-i .property .copy .property-price {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: var(--primary);
}

span.red-i .properties-list .property .copy .property-price{
    font-size: 40px;
    margin-top: -4px;
}

span.red-i .properties-tiles .property .copy .property-price{
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 28px;
}

span.red-i .property .copy .property-description {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    padding-bottom: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: var(--grey-text-colour);
}

span.red-i span.properties-list .property .copy .property-description{
    overflow: hidden;
    width: 516px;
    height: 55px;
}


span.red-i .property a.button,
span.red-i .property a.button:hover,
span.red-i .property a.button:active,
span.red-i .property a.button:visited {

    color: var(--primary);
}

span.red-i .property .button {
    width: 240px;
    height: 50px;
    border: solid 1px #bdbdbd;
    text-transform: uppercase;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /* position: relative; */
}

span.red-i .properties-list .property .button{
    /* bottom: -23px; */
    margin-top:20px;
}

span.red-i .property .button span:hover{
    background-position: right -8px center;
    padding-right: 26px !important;
    background-image: url(westbrook/svg/arrow-right.svg);

}


span.red-i .property .button span {
    margin-top: 15px;
    margin-bottom: 15px;  
    display: inline-block;
    background-repeat: no-repeat;
    background-position: right -8px center;
    -webkit-transition: all .4s ease-in-out;
    /*  width: 190px;
      height: 20px;*/
      font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-align: center;
    color: var(--primary);
}



span.red-i .development-title,
span.red-i .title-divider,
span.red-i .phase-title {

    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
    color: var(--grey-text-colour);    
}

span.red-i .property-features {
    font-family: 'Poppins', sans-serif;
    justify-content: space-evenly;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.79;
    letter-spacing: 2px;
    color: var(--grey-text-colour);    
    margin-top: 30px;
    clear: both;
}


span.red-i .properties-list .property-features{
    margin-top:0px;
}

span.red-i span.properties-tiles .property-features{
    margin-top: 0px;
}

span.red-i .property-title > div {

    display: inline-block !important;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    height: 20px;
    text-align: center;
}
span.red-i .property-title > div.title-divider {
    width: 2px;
    position: relative;
    top: 6px;
    transform: rotate(-270deg);
    background-color: rgba(17, 17, 18, 0.1);
    margin: 0px 18px 0 18px;
}

span.red-i .property-features .divider {
    box-shadow: 0 1px 5px 0 rgba(17, 17, 18, 0.1);
    width: 2px;
    height: 30px;
    background-color: rgba(17, 17, 18, 0.1);
    display: inline-block;
}

span.red-i .property .property-title > div.rectangle {

    margin-top: 10px;
    width: 2px;
    height: 20px;
    transform: rotate(-270deg);
    background-color: rgba(17, 17, 18, 0.1);
    display: inline-block;
}



span.red-i .pagination a {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: center;
    color: var(--grey-text-colour);    

    border: unset;

}

span.red-i .pagination a.current {

    color: #111112;
}

span.red-i .pagination a:hover {

    background: none;
    color: black;
    border: none;
}

span.red-i .map-link {
    width: 100%;
    max-width: 1200px;
    height: 450px;
    background-image: url('westbrook/jpg/sales-map-wide@x2.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;    
    position: relative;
    display: inline-block;
    margin-top: 60px;
}

span.red-i .map-link > div {
 display: flex;
 padding:30px;
 height: 100%;
 background-color: rgba(0, 0, 0, 0.5);
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

span.red-i .map-link > div > h3 {
    font-family: 'Playfair Display', serif;
    padding: 0 18% 0 18%;
    word-break: break-word;
    font-size: 40px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: var(--secondary);    
    display: block;
    max-height: 100px;
    min-height: 85px;
}

span.red-i .map-link > div > span {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 2.5%;
    text-transform: uppercase;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: 2px;
    text-align: center;
    color: var(--secondary);

    display: block;

    max-height: 100px;
    min-height: 100px;

}

span.red-i .map-link > div > a {

    display: inline-block;
    width: 247px;
    height: 50px;
    background-color: var(--secondary);
}

span.red-i .map-link > div > a > span:hover{
    background-position: right -6px center;
    padding-right: 26px;
    background-image: url(westbrook/svg/arrow-right.svg);

}

span.red-i .map-link > div > a > span {
    
    background-position: right -6px center;
    background-repeat: no-repeat;
    display: inline-block;    
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-align: center;
    color: var(--primary);
    -webkit-transition: all .4s ease-in-out;
    margin-top: 15px;
    margin-bottom: 15px;
}


span.red-i .properties-single .sidebar {

    box-shadow: 0 10px 15px -10px rgba(0, 0, 0, 0.2);
    background-color: var(--secondary);
}


span.red-i .properties-single .sidebar textarea,
span.red-i .properties-single .sidebar input,
span.red-i .properties-single .sidebar select {
    width: 100%;
    height: 50px;
    border: solid 1px rgba(115, 115, 115, 0.4);
    background-color: var(--secondary);
    box-shadow: none;
    color: black;
}

span.red-i input {
    padding: 0 !important;
}

span.red-i .properties-single .sidebar div.checkbox input,
span.red-i .properties-single .sidebar div input[type=checkbox] {
    max-width: 20%;
    height: auto;
    margin-top:10px !important;

}

span.red-i .properties-single .sidebar div.checkbox label,
span.red-i .properties-single .sidebar div label[for^="chkbox"] {

    width: 75%;
    display: block;
    float: left;
    text-align: left;
    margin-top: 20px;
    display: relative;
    cursor: arrow;
}


span.red-i .properties-single .sidebar > * {
    padding: 20px;
    background-color: unset;
}

span.red-i .sidebar #phonenumber,
span.red-i .sidebar #emailaddress {

    border: solid 1px #bdbdbd;
}

span.red-i .sidebar #phonenumber i,
span.red-i .sidebar #emailaddress i {

    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

span.red-i .sidebar #phonenumber i {

    background-image: url('westbrook/svg/phone.svg');
}

span.red-i .sidebar #emailaddress i {

    background-image: url('westbrook/svg/send.svg');
}

span.red-i .sidebar #phonenumber span,
span.red-i .sidebar #emailaddress span {

    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-align: center;
    color: var(--primary);

}

span.red-i .sidebar .email-form input[type=submit] {
    margin-top: unset;
    border-radius: unset;
    background-position: right 109px center;
    width: 100%;
    /*  height: 20px;*/
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-align: center;
    color: var(--secondary); 
    background-repeat: no-repeat;
    background-color: black;

}

span.red-i .properties-single .sidebar h6,
span.red-i .properties-single .sidebar label {
    /* font-family: Poppins, sans-serif; */
    font-size: 14px;
    /* font-weight: 600; */
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: 1px;
    text-align: center;
    color: #8f8f8f;
    float: none;
    width: 100%;
    position: relative;
    position: relative;
    border: none;
    display: inline-block;
    left: unset;
    top: unset;
}

  span.red-i .properties-single .sidebar div.field{
    margin: 16px 0;
  }

  span.red-i .properties-single .sidebar input.required,
    span.red-i .properties-single .sidebar textarea.required {
    box-sizing: border-box;
    width: 100%;
    height: calc(3em + -1px);
    margin: 0 0 1em;
    padding: 1em;
    border: 1px solid #ccc;
    background: #fff;
    resize: none;
    outline: none;
    border-radius: unset;
    margin-bottom: unset;
  }

  span.red-i .property-info .email-form textarea{
    text-indent: unset;
  }

  span.red-i .properties-single .sidebar textarea.required{
      height: 120px;
  }

    
  span.red-i .properties-single .sidebar input.required:focus , 
  span.red-i .properties-single .sidebar textarea.required:focus {
    border-color: #000000;
  }
  span.red-i .properties-single .sidebar input.required:focus + label.field-label:before , 
  span.red-i .properties-single .sidebar textarea.required:focus + label.field-label:before{
    color: #000000;
  }

  span.red-i .properties-single .sidebar input.required:focus + label.field-label:before,
  span.red-i .properties-single .sidebar input.required:valid + label.field-label:before, 
  span.red-i .properties-single .sidebar textarea.required:focus + label.field-label:before, 
  span.red-i .properties-single .sidebar textarea.required:valid + label.field-label:before {
    transition-duration: .4s;
    transform: translate(-6px, -1.5em) scale(0.8, 0.8);
  }
  
  span.red-i .properties-single .sidebar input.required:invalid + label.field-label:before,
  span.red-i .properties-single .sidebar textarea.required:invalid + label.field-label:before {
    content: attr(alt);
  }
  
  span.red-i .properties-single .sidebar input.required + label.field-label,
  span.red-i .properties-single .sidebar textarea.required + label.field-label {
    display: block;
    pointer-events: none;
    line-height: 1em;
    margin-top: calc(-3em - -16px);
    margin-bottom: calc((3em - 2em) + -8px);
    z-index: 2;
    text-align: left;
    padding: 0;
    width: 0;
  }

  span.red-i .properties-single .sidebar textarea.required + label.field-label{
    margin-top: calc(-8em - -13px);
  }

  
  span.red-i .properties-single .sidebar input.required + label.field-label:before,
  span.red-i .properties-single .sidebar textarea.required + label.field-label:before {
    content: attr(placeholder);
    display: inline-block;
    margin: 0 calc(1em + -2px);
    padding: 0 2px;
    color: #898989;
    white-space: nowrap;
    transition: 0.3s ease-in-out;
    background-image: linear-gradient(to bottom, #fff, #fff);
    background-size: 100% 5px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .property-info .email-form form div.checkbox{
    margin-top: 85px;
    margin-bottom: 20px;
  }

/* span.red-i .properties-single .sidebar label.field-label {
    top: 0;
  margin: -45px 0;
  display: block;
  color: #AAA;
  line-height: 62px;
  height: 24px;
  font-size: 16px;
  font-weight: 400;
  transition: font-size .15s, line-height .15s;
}

span.red-i .properties-single .sidebar input.required,
.field-textarea {
    position: relative;
  display: block;
  width: 100%;
  padding: 8px 0;
  line-height: 16px;
  font-size: 16px;
  background: transparent;
  border: none;
  -webkit-appearance: none;
  outline: none;
}

span.red-i .properties-single .sidebar input.required{
    height: 32px;
}
  
span.red-i .properties-single .sidebar label.field-label::after,
.field::before {
    content: '';
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 6px;
  left: 0;
  background-color: #DDD;
  }

span.red-i .properties-single .sidebar label.field-label::after {
    bottom: 6px;
  background-color: #2191ea;
  transform: scaleX(0);
  transition: transform 0.3s;
  }
  
.required:invalid:focus ~ span.red-i .properties-single .sidebar label.field-label,
.field-textarea:invalid:focus ~ span.red-i .properties-single .sidebar label.field-label,
.required:valid ~ span.red-i .properties-single .sidebar label.field-label,
.field-textarea:valid ~ span.red-i .properties-single .sidebar label.field-label {
    font-size: 12px;
    line-height: 14px;
}

.required:focus ~ span.red-i .properties-single .sidebar label.field-label,
.field-textarea:focus ~ span.red-i .properties-single .sidebar label.field-label {
    color: #2191ea;
}

.required:focus ~ span.red-i .properties-single .sidebar label.field-label::after,
.field-textarea:focus ~ span.red-i .properties-single .sidebar label.field-label::after {
    transform: scaleX(1);
  } */

span.red-i .property-info .features {

    border-top: none !important;
    border-bottom: none !important;
}


span.red-i .properties-single .copy .property-description * {
    min-height: 25px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.79;
    letter-spacing: 2px;
    color: #111112;    
    margin-bottom: 15px;
}


span.red-i .properties-single .copy .property-description h6 {
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.79;
    letter-spacing: 2px;
    color: #111112;
}

span.red-i .properties-single .copy .property-description span {


    min-height: 120px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    color: var(--grey-text-colour);

}

span.red-i .properties-single .property-price {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    color: var(--primary);
    /* padding-left: 11px; */
    margin-bottom: 30px;
}

span.red-i .property-price h2 {

    text-align: left;
}

span.red-i .property-price .totalPrice {

    display: none;
}

span.red-i .properties-single .copy {

    max-width: 70%;
}

span.red-i .properties-single .sidebar {
    margin-left: 20px;
}

span.red-i .properties-single .property-development {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: 2px;
    color: var(--grey-text-colour);
    text-align: left;
    text-transform: uppercase;
    clear: both;
    padding-top: 30px;
    display: block;
    /* padding-left: 11px; */
    margin-top: 40px;
}

span.red-i .properties-single small
{
    display: unset;
    font-size: 18px;
}

span.red-i .properties-single div.divider
{
    width: 2px;
    position: relative;
    top: 4px;
    transform: rotate(-270deg);
    background-color: rgba(17, 17, 18, 0.1);
    margin: 0px 18px 0 18px;
    height: 20px;
    display: inline-block;
    margin-right: 15px;
}


span.red-i .orderby > span,
span.red-i .display a.map {

    display: none;
}

/* .red-i.hero-section {

    margin-top: 100px;
} */

.red-i .swatch {
   
    width: 23px;
    height: 6px;
    transform: rotate(-180deg);
    display: inline-block;
    position: relative;
    
    float: left;
    margin-right: 15px;
    
    top: 14px;
}

span.red-i .properties-single .swatch {
    top: 12px;
}

span.red-i .properties-tiles .swatch { 
    top: 7px;
}

span.red-i .properties-list .swatch{
    top: 13px;
}

span.red-i .property .image a::before {

    content: '' !important;
}

span.red-i .property .image a:hover::before {

    background-color: rgba(169, 169, 169, 0.5) !important;
    opacity: 0.25 !important;
}

span.red-i .property-price {
    margin-top: 15px;
    margin-bottom: 6px;
}

span.red-i span.properties-single .property-price

span.red-i .properties-list,
span.red-i .properties-tiles {

    margin-top: 30px;
}

span.red-i .flex-prev,
span.red-i .flex-next {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

span.red-i .flex-direction-nav a.flex-prev::before,
span.red-i .flex-direction-nav a.flex-next::before {
    content: '';
    margin-bottom: 60px;
}

.red-i .flex-direction-nav a.flex-next,
span.red-i .flex-direction-nav a.flex-prev{
    background-repeat: no-repeat;
}

span.red-i .flex-prev::after,
span.red-i .flex-next::after {

    display: none;
}

span.red-i .flex-prev {
    background-image: url('westbrook/svg/arrow-left-white.svg');
    float: left;
}

span.red-i .flex-next {
    background-image: url('westbrook/svg/arrow-right-white.svg');
    float: right;
}

.red-i #carousel .flex-direction-nav a.flex-next{
    background-image: url('westbrook/svg/arrow-right.svg');
}

.red-i #carousel .flex-direction-nav a.flex-prev{
    background-image: url('westbrook/svg/arrow-left.svg');
}

span.red-i .properties-single .copy {
    margin:unset;
    width: 60%;
}

span.red-i .properties-single .sidebar {
    
    width: 37%;
}


span.properties-tiles div.property div.copy div.property-features div.features span.feature i.fa.fa-arrows-alt{
    display: none;
}

span.properties-tiles div.property div.copy div.property-features div.features span.feature i.fa.fa-arrows-alt + span{
    display: none;
}


span.red-i input, 
span.red-i textarea {

    float: none;
}

span.red-i .email-form h6 {

    text-transform: uppercase;
}

span.red-i .property-features .features:not(:last-child) .feature {
    border-right: 2px solid rgba(17, 17, 18, 0.1);
    margin-right: 30px;
    height: 30px;
   
}

span.red-i span.properties-tiles .property-features .features:not(:last-child) .feature{
    margin-right: 25px;
}

span.red-i .pagination a.current:before {
    display: inline-block;
    content: "";
    width: 32px;
    height: 2px;
    margin: 0 30px 0 0;
    background-color: var(--primary);
    transform: translateY(-4px);
}

span.red-i .pagination a.current:after {
    display: inline-block;
    content: "";
    width: 32px;
    height: 2px;
    margin: 0 0 0 30px;
    background-color: var(--primary);
    transform: translateY(-4px);
}

span.red-i .email-form input[type='submit'],
span.red-i .map-link a,
span.red-i .copy a.button {

    text-transform: uppercase;
}

span.red-i .results-right .display {

    white-space: nowrap;
}

span.red-i .orderby {

    margin-left: 10px;
}

span.red-i .single-pagination > * {

    display: inline-block;
    width: auto;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;    
    float: left;    
}

span.red-i .single-pagination > .next,
span.red-i .single-pagination > .next span {

    float: right !important;
}

span.red-i div.single-pagination {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px calc(100% - 1450px) 0 calc(100% - 1450px);
    height: 64px;
    position: fixed;
    top: 65px;
    width: 100%;
    background-color: var(--light-grey-background);
    z-index: 20;
}

/* .sticky-MaxWidth{
    position: sticky;
    top:80px;
}

.sticky-992{
    position: sticky;
    top:160px;
}

.sticky-769{
    position: sticky;
    top:40px;
} */

span.red-i .single-pagination > span,
span.red-i .single-pagination > a {

    line-height: 24px;
}

span.red-i .single-pagination > span {

    color: #757575;
}

span.red-i .single-pagination > a {

    color: #111112;
}

span.red-i .single-pagination .btn {

    text-transform: none !important;
}

span.red-i .single-pagination .pagination-divider {

    display: inline-block;
    width: 24px;
    height: 24px;


    background-image: url('westbrook/svg/arrow-right-gray.svg');
}

span.red-i .single-pagination .pagination-caption {
    
    border-left: 1px solid var(--light-grey-background);
    padding-left: 15px;
    margin-left: 15px;
}


span.red-i .single-pagination a.back {
    float: left;
}

span.red-i .single-pagination a.back:after{
    content: "";
    display: block;
    position: absolute;
    left: 14.5px;
    height: 11px;
    top: 10px;
    background-color: var(--Icon-grey);
}

span.red-i .single-pagination a.back span {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    float: left;
    background-image: url('westbrook/svg/arrow-left.svg');
}

span.red-i .single-pagination a.next  {
    float: right !important;
}


span.red-i .single-pagination a.next span {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 10px;
    background-image: url('westbrook/svg/arrow-right.svg');
}

span.red-i div.pagination{
    padding-bottom: 0px;
}

span.red-i .property-listings {
       margin-top: 10px;
}

span.red-i select {
    position: relative;
    background-image: url('westbrook/svg/arrow-down.svg');
    border: none;
    text-transform: uppercase;
    font-weight: bolder;
    background-position-x: right;
    background-position-y: center;
    background-repeat: no-repeat;
    cursor: pointer;
    padding-right: 24px;
}

span.red-i select:focus{
    background-image: url('westbrook/svg/arrow-up.svg');
}

span.red-i .results .orderby select{
    min-width: unset;
}

span.red-i .plans {
    margin-top: 20px;
    padding: 0px;
}

span.red-i .plans ul {

    margin-top: 15px;
}


span.red-i .flex-active-slide a,
span.red-i .flex-active-slide img {
    
    min-width: 100%;
}

.property-listings .property .image a img{
    height: unset;
}


@media only screen and (max-width: 1027px){
    span.red-i .properties-list .property .image {
        height: unset;
    }
}



@media only screen and (max-width: 1026px){

    span.red-i .results .results-left,
    span.red-i .results .results-right {

        /* width: 100% !important; */
         /* text-align: center !important; */
        float: none !important;
    }

    /* .property-listings .results .showing,  */
    .property-listings .results .orderby {
     width: auto !important;
    }

    span.red-i .properties-tiles .property,
    span.red-i .properties-list .property,
    span.red-i .properties-tiles .property .image,
    span.red-i .properties-list .property .image {

        max-width: 100%;
    }

    span.red-i .properties-tiles .property,
    span.red-i .properties-list .property,
    span.red-i .properties-tiles .property .copy,
    span.red-i .properties-list .property .copy {
        margin-left: 3.5%;
        margin-right: 3.5%;
        /* text-align: center; */
        width: 100%;
    }


    span.red-i .property-info .copy {

        max-width: 100%;
    }

    span.red-i .orderby {

        display: block;
        text-align: center;
    }

    .red-i .swatch{
        top: 7px !important;
    }

    span.red-i .results{
        left: 3%;
        width: 95%;
    }

    span.red-i .properties-list .property .copy .button, 
    span.red-i .properties-single .copy, 
    span.red-i .map-link > div > a, 
    span.red-i .properties-single .sidebar
    {
        width: 100%;
    }

    span.red-i .property div.image{
        max-height: 178px !important;
    }
    
    span.red-i .properties-single .sidebar{
        margin: 0;
    }

    .property-listings div.md-container.clear{
        padding: 0;
       
    }

    div.gallery-contain{
        width:100%;
    }
    .content-wrap{
        padding-bottom: 0px;
    }
    /* span.red-i .properties-single .copy .property-description{
        display: flex;
        flex-flow: column;
        align-items: center;
    } */

    .mobile-none{
        display: none;
    }
    span.red-i .map-link > div > span{
        max-height: 70px;
        min-height: 55px;
    }
    span.red-i .map-link{
        height: unset;
        margin-top: unset;
    }
    span.red-i .property .copy .property-description{
        display: none;
    }
    span.red-i .properties-list .property .copy{
        padding: 20px 20px 14px 19px;
    }

    /* span.red-i .property-title > div.title-divider{
        visibility: hidden;

    } */
    span.red-i .property-title > div.development-title{
        float: left;
    }
    span.red-i .property-title > div.phase-title{
        position: relative;
        top: -6px;
    }
    span.red-i .properties-list .property .copy .button{
        position: relative;
        right: 3.5%;
        margin-bottom: 30px;
        bottom: -23px;
        margin-top: unset;
    }
    span.red-i .property-title > div.title-divider{
        top: 0px;
    }

    span.red-i div.pagination{
        padding-bottom: 60px;
    }

    .find-future-wrap{
        width: 93%;
        left: 3.5%;
    }

    span.red-i .property .copy .property-title,
    span.red-i .properties-tiles .property .button{
        position: relative;
        right:3.5%;

    }

    span.red-i .properties-list .property .copy .property-price,
    span.red-i .properties-tiles .property .copy .property-price
    {
        font-size: 25px;
        position: relative;
        right: 3.5%;
    }

    span.red-i .property .image a{
        height: 178px;
    }

    span.red-i .properties-list .property .image a{
        height: 178px;
    }

    .property-listings .property .image img,
    .properties-list .property .image img
    {
        height: 178px !important;
    }

    span.red-i .plans{
        margin-bottom: 110px;
        margin-left: 18px;
    }

    span.red-i .pagination a.current:before{
        width: 15px;
        height: 1px;
        margin: 0 18px 0 0;
    }

    span.red-i .pagination a.current:after{
        width: 15px;
        height: 1px;
        margin: 0 0 0 18px;
    }
    span.red-i .property-listings .property-features,
    span.red-i .properties-list .property-features
    {
        display: flex;
        justify-content: space-between;
        position: relative;
        left: -30px;
    }
    span.red-i .properties-single .property-features
    {
        display: inline-block;
        position: initial;
    }
    span.red-i span.properties-list i.fa.fa-car + span{
        margin-right: 0px;
        position: relative;
        top: 0px;
    }
}

@media only screen and (max-width: 1024px)
{
    div.search-box{
        width: 100%;
    }

}




@media only screen and (max-width: 989px){
    span.red-i div.single-pagination{
        top: 145px;
    }
    span.red-i .properties-single .property-development{
        padding-top:103px;
    }
    span.red-i .property-features{
        margin-left: 18px;
    }

    div.property-description{
        margin-left:18px;
    }
}


@media only screen and (max-width: 850px){
    .find-future-wrap .search-box p:last-of-type{
        width: 100%;
        float: none;
    }
    span.red-i .search-box-inner a#search-btn{
        width: 100%;
    }
    .find-future-wrap .search-box .type, .search-box .numbers{
        width: 100%;
        justify-content: space-between ;
    }

    .find-future-wrap #development{
        width: 100%;
        margin-bottom: 30px;
    }

    .find-future-wrap .search-box .numbers span.dev-drop-down{
        width: 100%;
    }

    .find-future-wrap .search-box .numbers span{
        padding: 0.25em 0 0.25em 0;
        
    }
    
    span.properties-list div.property-features div.features span.feature i.fa.fa-arrows-alt{
        display: none;
    }
    
    span.properties-list div.property-features div.features span.feature i.fa.fa-arrows-alt + span{
        display: none;
    }

}

@media only screen and (max-width: 800px){
    span.red-i .map-link > div > h3{
        padding: unset;
    }
    
}


@media only screen and (max-width: 768px){
    span.red-i div.single-pagination{
        top: 44px;
    }
    span.red-i .properties-single .property-development{
        padding-top:40px;
        padding-left:15px;
    }

    span.red-i .properties-single .property-price{
        padding-left:15px;
    }
    
    main.main-wrap{
        padding-top:60px;
    }

    div.find-future-wrap h6{
        margin-bottom: 18px;
    }

}


@media only screen and (max-width: 600px){

    span.red-i .map-link > div > h3{
        font-size: 25px;
        line-height: 1.4;
        letter-spacing: -0.25px;
    }

    span.red-i .map-link > div > span{
        padding: 0;
    }

    span.red-i .single-pagination .pagination-development,
    span.red-i .single-pagination .pagination-divider,
    span.red-i .single-pagination .pagination-caption{
        display: none;
    }

    span.red-i .results{
        font-size: 12px;
    }

    .results .orderby span, .results .orderby select{
        width:20px;
    }
    span.red-i .slider .min:before,
    span.red-i .slider .max:before
    {
        content: none;
    }
    .find-future-wrap{
         padding: 15px;
    }
    span.red-i span.properties-list div.features > span > span{
        margin-right: 26px;
    }

    .gallery-contain #slider{
        height: 100%;
    }
    
}

@media only screen and (max-width: 320px){
    span.red-i span.properties-list div.features > span > span,
    span.red-i span.property-listings div.features > span > span{
        margin-right: 7px;
    }
    span.red-i .single-pagination > *{
        margin: unset;
    }
    
}