/*
See license information at the package root in LICENSE.md
*/
/* 
    Created on : 26 Feb 2019, 5:23:06 AM
    Author     : Justus
*/

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.red-i,
.main-content {
	
	display: inline-block;
}

main {
	text-align: center;
}

.red-i .slider .min,
.red-i .slider .max {
	
	width: auto !important;
}

.red-i .slider {
	overflow-x: auto !important;
	overflow-y: auto !important;
	overflow: visible !important;
	display: block !important;
}

#price-slider {
	display: block !important;
	/* width: 80%; */
	
	margin-top: 30px !important;
	margin-bottom: 15px !important;
	margin-left: auto !important;
	margin-right: auto !important;	
}

.red-i #search-btn {

	color: #282828;
	font-family: nexa_boldregular,serif;	
	border: 2px solid currentColor;
	background-color: transparent;	
}

.red-i #search-btn:hover {
	
	transition: background-color .3s;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;	
	background-color: black;
	color: white;
}

.red-i .banner {
	
	background-color: white !important;
}

/*.red-i .property .image a::before:hover,*/
.red-i .display a:hover,
.red-i .pagination a:hover,
.red-i .type,
.red-i .property-info .status span {
	background-color: #076633 !important;
}

.red-i .property .image a:hover:before {
	opacity: 0.5;
	background-color: #076633 !important;
}
/* .red-i span.price span.plotPrice, */
.red-i span.price span.plotPriceValue,
/* .red-i span.price span.planPrice, */
.red-i span.price span.planPriceValue,
/* .red-i span.price span.totalPrice, */
.red-i span.price span.totalPriceValue {
	color: #076633 !important;
}

.property-info .email-form {
	background-color: #076633 !important;
}

.red-i .property-info .agent {
	/* background: #e6eff7; */
	background-color: #076633 !important
}

.red-i .view-map {
	background-color: #076633 !important;
}

.red-i .view-map a,
.red-i .view-map a i {
	color: white !important;
}

.red-i ul.slides li {
	margin-left: 0px !important;
}

.red-i form label {
	color: white !important;
}