/* Instance specific changes */
/* HARBOUR ARCH */

 a#search-btn {background: rgba(25, 60, 97, .95);}  
.banner .price h2 {font-size: 32px; color: rgba(25, 60, 97, .95);}  
.banner .title h1 {font-size: 42px; color: rgba(25, 60, 97, .95);}
.spacer {padding-top: 130px;}
@media only screen and (max-width: 1024px) {.spacer {padding-top: 60px;}}
.property-info .email-form {background: rgba(25, 60, 97, .95);}
.property-info .email-form form div label {color: #FFF;}
.property h3 a {color: rgba(25, 60, 97, .95); font-size: 24px;}
.search-box p:last-of-type {float: none;}
.property-info .view-map a.btn {background: rgba(25, 60, 97, .95);color:#FFF;}
.property-info .view-map i {color:#FFF;}
.property-info h6 {float: none;}
.property p {float: none;}
@media only screen and (min-width: 769px) {.property-listings.list .search-box .btn { margin: 1em 0;}}
.property .image span.type {line-height: 14px;background: rgba(25, 60, 97, .95);}
#slider .status span {line-height: 14px; background: rgba(25, 60, 97, .95);}
.breadcrumbs {padding: 2em 2em;}
.breadcrumbs p {margin-top: -1em;} 
.display a:hover {background: rgba(25, 60, 97, .95); border-color: #004a8f; color: white;}
.property-info .flex-control-nav{    
    position: unset;
    bottom: unset;
    left: unset;
    padding: unset;
    margin: unset;
    min-width: unset;
    height: unset;
    background: unset;
    overflow: unset;
    z-index: unset
    -webkit-border-radius: unset;
    -moz-border-radius: unset;
    border-radius: unset;
    text-align: unset
}

.property .features span:first-of-type {min-width: 30%;}
.property .features span {min-width:22%;}


body {
    overflow-x: hidden;
}


.search-box-inner {
    overflow-x: hidden;
    padding: 2px;
    margin: 0px;
    position: relative;
    display: block;
}

/* This forces the select to remain as a dropdown in Mobile - this theme only */
.red-i select{
	-webkit-appearance: menulist;
	-moz-appearance: menulist;
	appearance: menulist;

}

