/* Instance specific changes */
/* VAL DE VIE */

@import url('https://use.fontawesome.com/releases/v5.9.0/css/all.css');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

@font-face {
  font-family: icomoon;
  src: url('/wp-content/themes/Avada/includes/lib/assets/fonts/icomoon/icomoon.woff');
}

.red-i #slider .status span {
	background-color: rgba(0,0,0,0.8) !important;
}


[class*=" fusion-icon-"], 
[class^="fusion-icon-"] {

    font-family: icomoon !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

.property-listings select {
    background-color: rgb(248, 248, 248) !important;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(166, 166, 166) !important;
	color: #333 !important;
}
.property-info select {
    background-color: rgb(248, 248, 248) !important;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(166, 166, 166) !important;
    color: #333 !important;
}
h6 {
    font-size: 20px;
    text-transform: uppercase;
    line-height: 40px;
}
.banner .title, .banner .price {
    vertical-align: bottom;
}
.property-listings.list .pagination {
    font-size: 12px !important;
}
.property-info .pagination {
    font-size: 12px !important;
    text-transform: uppercase;
}
.pagination a:hover {
    background: rgba(216,178,106, .95) !important;
    border-color: rgba(216,178,106, .95) !important;
    color: white;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #3336 !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #3336 !important;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #3336 !important;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #3336 !important;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #3336 !important;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #3336 !important;
}
.banner span.price span.planPriceValue,
.banner span.price span.plotPriceValue,
.banner span.price span.totalPriceValue {color: rgba(216,178,106, .95) !important;}
.gallery-contain .flex-direction-nav a {padding-top: 6px;}
#carousel .flex-direction-nav a {padding-top: 0px; height: 28px;}
.property-info .agent {background: rgba(0,0,0,0.05) !important;}
.property-info .agent #phonenumber, .property-info .agent #emailaddress {color: rgba(0,0,0,0.8) !important;}
.property .image a:before {background:rgba(216,178,106,0.5) !important; }
.property-listings.list .search-box .slider {overflow: visible;}
.property-listings .search-box .slider {overflow: visible;}
 a#search-btn {background: rgba(216,178,106, .95) !important;}  
.banner .price h2 {font-size: 32px; color: rgba(216,178,106, .95) !important;}  
.banner .title h1 {font-family:Brandon, Arial, Helvetica, sans-serif; font-size: 32px; text-transform: uppercase; line-height: 32px; color: rgba(0,0,0,0.8);}
.spacer {padding-top: 0px;}
@media only screen and (max-width: 1024px) {.spacer {padding-top: 60px;}}
.property-info .email-form {background: rgba(0,0,0,0.8) !important;}
.property-info .email-form form div label {color: #FFF !important;}
.property h3 a {color: rgba(0,0,0,0.8); font-size: 24px; font-family: Brandon, Arial, Helvetica, sans-serif; line-height:40px; }
.search-box p:last-of-type {float: none;}
.property-info .view-map a.btn {background: rgba(216,178,106, .95) !important;color:#FFF !important;}
.property-info .view-map i {color:#FFF !important;}
.property-info h6 {float: none;}
.property p {float: none;}
@media only screen and (min-width: 769px) {.property-listings.list .search-box .btn { margin: 1em 0;}}
.property .image span.type {line-height: 14px;background: rgba(0,0,0, .95) !important;}
#slider .status span {line-height: 14px; background: rgba(0,0,0, .95);}
.breadcrumbs {padding: 2em 2em;}
/* .breadcrumbs p {margin-top: -1em;}  */
.display a:hover {background: rgba(216,178,106, .95) !important; border-color: #004a8f; color: white;}
#slider li span.zoom {line-height: 37px;}
.property-info .flex-control-nav{    
    position: unset;
    bottom: unset;
    left: unset;
    padding: unset;
    margin: unset;
    min-width: unset;
    height: unset;
    background: unset;
    overflow: unset;
    z-index: unset
    -webkit-border-radius: unset;
    -moz-border-radius: unset;
    border-radius: unset;
    text-align: unset
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
select {
    -webkit-appearance: select;
    -moz-appearance: select;
    appearance: select;
}}
@media only screen and (min-width: 1024px) {
.property-info .sidebar {
    width: 27% !important;
    display: inline-block !important;
    vertical-align: top !important;
    margin-right: -5px !important;
    padding: 0px!important;
    }   

}
@media only screen and (max-width: 1024px) {
.sidebar, .copy {
    width: 100% !important;
    display: block !important;
    padding: 1em 0 !important;
    margin: 0 !important;
}}
@media only screen and (min-width:769px) {  
    .property-listings.list .property .copy {float:left; width:60% !important;}
    .property-listings.list .property .copy {padding:1em 2em !important;}
}

body {
    overflow-x: hidden;
}


.search-box-inner {
    overflow-x: hidden;
    padding: 2px;
    margin: 0px;
    position: relative;
    display: block;
}

.fa-mobile-phone:before,
.fa-mobile:before {
  content: "\f10b" !important;
}

.fa-map-marker:before {
  content: "\f041" !important;
}

.fa-arrows-alt:before {
  content: "\f0b2" !important;
}

/* 
e604
e605
ea92
e622
e607

*/

@font-face {
    
  font-family: Brandon;
  src: url(fonts/Brandon_reg.ttf);
}

@font-face {
    
  font-family: Baskerville;
  src: url(fonts/Baskerville-01.ttf);
}

body {
    font-size: 15px;
    font-family: sans-serif;
}

span.red-i .sidebar,
span.red-i .banner,
span.red-i .copy {
    
    font-family: Brandon;
}

span.red-i .showing,
span.red-i .copy {
    color: rgb(116, 116, 116) !important;
}

span.red-i a,
span.red-i a:hover {
    text-decoration: none;
}


input, select, textarea {
    
    font-family: Baskerville;
}

span.red-i h6 {
    
    margin-top: 0px;
    margin-bottom: 0px;
}

.agent a {
    
    color: rgba(216,178,106, .95) !important;
}

/* Switching the grid / list view icons */
.fa-reorder:before {
    content: "\f00a";
}

.fa-th:before {
    content: "\f0c9";
}